{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
		<div class="hero">
			<div class="header clearfix">
				{% include 'mainapp/includes/inc_main_menu.html' %}
			</div>
			<h1>наши контакты</h1>
		</div>
		<div class="location">
			{% for el in contacts %}
				<div class="location-1">
				<i class="fa fa-map-marker fa-5x"></i>
				<h4>{{ el.city }}</h4>
				<div class="contacts">
					<h5>Телефон</h5>
					<p>{{ el.Phone }}</p>
				</div>
				<div class="contacts">
					<h5>Email</h5>
					<p>{{ el.Email }}</p>
				</div>
				<div class="contacts">
					<h5>Адрес</h5>
					<p>{{ el.address }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
{% endblock %}